<nav class="navbar">
    <div class="navbar-brand">
        <span>Admin Dashboard</span>
    </div>
    <ul class="navbar-links">
        <li><a href="/dashboard">Estadísticas</a></li>
        <li><a href="/api/reportes/reservas?formato=pdf">Reporte PDF</a></li>
        <li><a href="/api/reportes/reservas?formato=csv">Reporte CSV</a></li>
        </ul>
    <div class="navbar-user">
        {{#if usuario}}
            <span>Bienvenido, **{{usuario.nombre_usuario}}** ({{usuario.tipo_usuario}})</span>
        {{/if}}
        </div>
</nav>